# Segmenting and Clustering Neighborhoods in Toronto- Cousera

# Q1

In [1]:
import pandas as pd

# Q2

In [15]:
from IPython.display import IFrame
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
IFrame(url, width=800, height=350)

In [16]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Note: you may need to restart the kernel to use updated packages.

# Q3

* The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [17]:
data, = pd.read_html(url, match="Postcode", skiprows=1)
data.columns = ["PostalCode", "Borough", "Neighborhood"]
data.head()

  PostalCode           Borough      Neighborhood
0        M2A      Not assigned      Not assigned
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights

* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [18]:
data = data[data["Borough"] != "Not assigned"]
data.head()

  PostalCode           Borough      Neighborhood
1        M3A        North York         Parkwoods
2        M4A        North York  Victoria Village
3        M5A  Downtown Toronto      Harbourfront
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor

* More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [19]:
borough_func = lambda s: s.iloc[0]
neighborhood_func = lambda s: ", ".join(s)
agg_funcs = {"Borough": borough_func, "Neighborhood": neighborhood_func}
data_temp = data.groupby(by="PostalCode").aggregate(agg_funcs)
data_temp.head()

                Borough                            Neighborhood
PostalCode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn
M1H         Scarborough                               Cedarbrae

In [20]:
data = data_temp.reset_index()[data.columns]
data.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's

In [21]:
data[data["Neighborhood"] == "Not assigned"]

   PostalCode       Borough  Neighborhood
93        M9A  Queen's Park  Not assigned

In [22]:
for (j, row) in data.iterrows():
    if row["Neighborhood"] == "Not assigned":
        borough = row["Borough"]
        print("Replace and test \"Not assigned\" => %s in row %i" % (borough, j))
        row["Neighborhood"] = borough

Replace and test "Not assigned" => Queen's Park in row 93

In [23]:
data.iloc[83:88]

,PostalCode,Borough,Neighborhood
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Downtown Toronto,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern

* In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [24]:
data.shape

(103, 3)